.slides img{
	border: 0 !important;
	background:none !important;
	border: 0 !important;
	box-shadow: none !important;
}

.slides menu-title {
	visibility: hidden;
}


.slide-menu-button.hidden, #customcontrols.hidden {
	visibility: hidden;
	display: none;
}

.reveal {
	/*font-family: "Open Sans", sans-serif;*/

	--r-heading-text-transform: none !important;
	--r-heading1-size: 60px;
	--r-heading2-size: 45px;
	--r-heading3-size: 36px;
	--hightlight-color: yellow;

}

.reveal b, .reveal strong {
	color: var(--r-link-color)
}
.reveal canvas[data-chart].theme-black {
	background-color: rgba(0,0,0,0.5);
}

.reveal p,
.reveal ul {
	font-size: 30px;
}

#header-left {
	position: absolute;
	top: 0%;
	left: 0%;
}
#header-right {
	position: absolute;
	top: 0%;
	right: 0%;
}
#footer-left {
	position: absolute;
	bottom: 0%;
	left: 0%;
}
#footer-right {
	position: absolute;
	bottom: 0%;
	right: 0%;
}
