.slides img{
	border: 0 !important;
	background:none !important;
	border: 0 !important;
	box-shadow: none !important;
}

.slides menu-title {
	visibility: hidden;
}

.slide-menu-button.hidden {
	visibility: hidden;
}